In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
data = pd.read_csv("students-performance.csv")
data.head()

,roll no,name,standard,gender,race/ethnicity,parental level of education,lunch,test preparation course,math,english,...,attended,total lectures,attendance,test marks,total marks,percentage,score-cat,study-cat,cluster,Unnamed: 24
0,1,Jennifer,6,female,group B,bachelor's degree,standard,none,72,72,...,36,50,72,70,100,70,0,0,4,NaN
1,2,Ann,6,female,group C,some college,standard,completed,69,90,...,42,50,84,67,100,67,0,1,2,NaN
2,3,Matt,6,female,group B,master's degree,standard,none,90,95,...,50,50,100,68,100,68,0,1,2,NaN
3,4,Sam,6,male,group A,associate's degree,free/reduced,none,47,57,...,35,50,70,54,100,54,0,0,4,NaN
4,5,Sam,6,male,group C,some college,standard,none,76,78,...,36,50,72,74,100,74,1,0,3,NaN

In [3]:
drop_list = ['roll no', 'name', 'standard', 'gender', 'race/ethnicity',
       'parental level of education', 'lunch', 'test preparation course','total',
       'attended', 'total lectures', 'attendance', 'test marks',
       'total marks', 'percentage', 'score-cat', 'study-cat', 'cluster',
       'Unnamed: 24']
data= data.drop(drop_list,axis=1)
data.columns

Index(['math', 'english', 'geography', 'history', 'science', 'percentag'], dtype='object')

In [4]:
from sklearn.model_selection import train_test_split
x=data.drop(['percentag'], axis=1, inplace=False)
y=data["percentag"]
x=pd.get_dummies(x, drop_first=True)
x_train,x_test,y_train,y_test = train_test_split(x, y, test_size=0.33, random_state=101)

In [5]:
from sklearn.linear_model import LinearRegression
logmodel = LinearRegression()
logmodel = logmodel.fit(x_train, y_train)
pred = logmodel.predict(x_test)

In [6]:
logmodel.score(x_train, y_train)

1.0

In [7]:
import pickle
pickle.dump(logmodel, open('model.pkl','wb'))
model = pickle.load(open('model.pkl','rb'))
print(model.predict([[73,86,82,77,86]]))

[81.6]

C:\Users\Acer\AppData\Roaming\Python\Python38\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(